*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
    scroll-behavior: none;
    outline: none;
}

:root {
    --bg-color: #101131;
    --text-color: #fff;
    --main-color: #ffd700;
    --h1-font: 6rem;
}


.container-contacto-plus{
    background-image: url(../media/bg-header.jpg);
    position: relative;
    background-size: cover;
    background-position: center center;
}

.container-contacto-plus::before{
    position: absolute;
    content: '';
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
}

header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 1.5rem 15%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    transition: all .55s ease;
}

.navbar{
    display: flex;
}

.navbar a{
    display:flex;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 40px;
    transition: all .55s ease;
} 

img{
    width: 100px;
    height: 100px;
}

button{
    width: 300px;
}

.container-contacto{
    max-width: 1280px;
    margin: 0 auto;
}

.container-contacto2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    position: relative;
    min-height: 200px;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.contacto-datos{
    padding: 10px;
}

.contacto-form{
    padding: 10px;
}

footer{
    background-color: beige;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    height: 50px;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}